<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>VueJs</title>
</head>
<body>
    <div id="app">
        <h1 v-if="numero > 4">O numero é maior do que 4</h1>
        <h1 v-else-if="numero == 4">O numero é igual a 4</h1>
        <hr>
        <input type="text" v-model="conteudo" placeholder="Digite">
        <p>{{conteudo}}</p>
        <hr>
        <ul v-for="lista in listas">
            <li>id: <b>{{lista.id}}</b> </li>
            <li>nome: <b>{{lista.nome}}</b> </li>
            <li>idioma: <b>{{lista.idioma}}</b> </li>
        </ul>
                 <!-- 12/07 | s29:45 -->
                 <!-- https://youtu.be/Uo7iciQYYTo -->
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                true: 'Mensagem true',
                false: 'Mensagem false',
                listas: [
                    {
                    id: 1,
                    nome: 'Bruno',
                    idioma: "pt-br",
                    },
                    {
                    id: 2,
                    nome: 'Necas',
                    idioma: "pt-br",
                    }
                
            ],

                verifica: true,
                numero: 4,
                conteudo: ''
            }
        });
    </script>

</body>
</html>