body{
    height: 1520px;
    background: linear-gradient(45deg, #FF3CAC, #784BA0, #2B86C5);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
  }
  @keyframes colors {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  